---
page_title: "Provider: k8snp"
description: |-
The k8snp provider is used to manage k8s node pools and node groups without downtime.
---

# k8snp Provider

When managing k8s node pools and node groups with Kubernetes certain managed k8s providers do not properly cordon and drain the nodes before a pool update. This can cause downtime experienced by applications running on those nodes. See [https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/794](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/794) for an example of the issue.

This provider defines a new `node_pool` resources that be used in conjunction with other k8s node pool resources, e.g. [google_container_node_pool](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_node_pool) to safely cordon and drain k8s managed node pools.

Specifically when a node pool is created the resource will wait for a specified amount of nodes to be ready and when a node pool is destroyed it will cordon all nodes and safely drain the pods from them one by one.

Example usage:

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace  }}